<h1 class="text-center">1. Wybierz Samochód</h1>
<div class="flex flex-wrap align-items-center justify-content-center">
  <div *ngFor="let car of cars" class=" flex flex-column align-items-center border-solid border-round w-14rem h-14rem m-5">
    <div class="w-full h-8rem">
      <img class="h-screen max-h-full w-full" [src]="car.imgUrl" alt="" style="object-fit: cover;">
    </div>
    <h2 class=" bottom-0 right-0 left-0 m-0 mb-3 text-center">{{car.tablica}}</h2>
    <p class=" bottom-0 left-0 right-0 m-0 mb-2 text-center">{{car.name}}</p>
    <p-button label="Dalej" [text]="true" [raised]="true" class="text-center"></p-button>
  </div>
</div>