/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.p-button {
  background-color: #6b30c4;
  color: #ffffff;
}

div {
  border-color: #6b30c4;
}
.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #6b30c4, 0 1px 2px 0 black;
}